:root {
  --light-mode-bg: #f5f5f0;
  --light-mode-font: #000000;
  --light-mode-delete: #facdbb;
  --light-mode-success: #bbfad7;
  --dark-mode-bg: #303030;
  --dark-mode-font: #ffffff;
}
body {
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  background-color: var(--light-mode-bg);
  color: var(--light-mode-font);
}
.dark-bg {
  background-color: var(--dark-mode-bg);
  color: var(--dark-mode-font);
}
.card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

}
.btn-dark-mode {
  height: 40px;
  width: 40px;
  transition: 500ms ease-in-out all;
  justify-self: end;
}
.btn-dark-mode:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.inputs {
  grid-column: 1/ 3;
  display: grid;
  grid-column: 1/ 3;
  gap: 8px;
  height: 103px;
}
.inputs > * {
  font-size: 18px;
  padding-left: 12px;
  border: none;
}
.btns {
  margin-top: 20px;
  margin-right: 20px;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
}
.btn {
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
}
.success {
  background-color: var(--light-mode-success);
}
.delete {
  background-color: var(--light-mode-delete);
}
